iPhoneMusicExporter_iPhoneMusicExporter_*.xctestproducts

iPhoneMusicExporter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
iPhoneMusicExporter.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
iPhoneMusicExporter.xcodeproj/project.xcworkspace/xcuserdata/rajesh-2497.xcuserdatad/UserInterfaceState.xcuserstate
iPhoneMusicExporter.xcodeproj/xcuserdata/rajesh-2497.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iPhoneMusicExporter.xcodeproj/xcuserdata/rajesh-2497.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
