iPhoneMusicExporter_iPhoneMusicExporter_*.xctestproducts
*/xcuserdata/*
*/*/xcuserdata/*
*.xcuserstate
iPhoneMusicExporter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
iPhoneMusicExporter.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.DS_Store
